<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruuvi.station">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.bluetooth" />

    <application
        android:name=".app.RuuviScannerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".network.ui.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName=".tagdetails.ui.TagDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" >
            <nav-graph android:value="@navigation/sign_in_navigation" />
        </activity>
        <activity
            android:name=".tagdetails.ui.TagDetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".tagsettings.ui.TagSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="Tag Settings"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".bluetooth.ScanForDevicesService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".bluetooth.BluetoothForegroundService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".feature.ui.WelcomeActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".about.ui.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".addtag.ui.AddTagActivity"
            android:label="@string/title_activity_add_tag"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".settings.ui.AppSettingsActivity"
            android:label="@string/title_activity_app_settings"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".startup.ui.StartupActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dashboard.ui.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />

        <activity
            android:name=".network.ui.ShareSensorActivity"
            android:label="Share Ruuvi sensor"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ruuvi.station.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".alarm.receiver.CancelAlarmReceiver" />
        <receiver android:name=".alarm.receiver.MuteAlarmReceiver" />
        <receiver android:name=".bluetooth.ScanningPeriodicReceiver" />
        <receiver
            android:name=".receivers.RebootSchedulerReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>